.header {
  padding: 1rem 0 3rem;
}

.logo a {
  color: #000;
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
  margin: 0;
  & li {
    margin: 0;
    margin-right: 15px;
  }
  & li:last-child {
    margin-right: 0;
  }
}

.link {
  color: #999;
  text-decoration: none;

  &:hover {
    color: #666;
  }

  &[aria-current="page"] {
    color: black;
  }
}
